.dialogbtn{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border:none;
    justify-content: space-between;
    min-width: 200px;
}

.accountHeader{
    margin-bottom: 10px;
    text-align: center;
    font-weight: 450;
    text-transform: capitalize;
    color: grey;
    font-size: 1.2em;
}

.dialogbtn span{
    min-width: 100px;
}

.dialogbtn div{
    margin: auto;
    width: 100%;
}

#opendialog:hover{
    cursor: pointer;
}

.detials{
    display: none;
    margin-top: 10px;
}

.accounts ul li:hover > div > div{
    display: flex;
    justify-content: space-between;
    width: 100%;
}