.staffdialogbtn{
    border:none;
}

.staffdialogbtn > div{
    border:none;
    width: 100%;
}

.accountHeader{
    margin-bottom: 10px;
    text-align: center;
    font-weight: 450;
    text-transform: capitalize;
    color: grey;
    font-size: 1.2em;
}

.dialogButtons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.deactiveLink, .deleteLink {
    margin: 0;
}

.dialogbtn{
    /* display: inline-block; */
}

.dialogbtn div{
    width: 100px;
}

#opendialog:hover{
    cursor: pointer;
}

.detials{
    display: none;
    margin-top: 10px;
}

.accounts ul li:hover > div > div{
    display: flex;
    justify-content: space-between;
    width: 100%;
}